<%= render('layouts/errors', :object => @photo) %>
<h5><b><br>Select the file you would like to upload:</b></h5>
<%= form_for @photo, :html => { :multipart => true } do |f| %>
  <div class="upload">
    <%= f.file_field :the_photo %>
  </div><br><br><br>
  <div class="form_group">
    <label for="tagged_users">Select user(s) to tag in the photo:</label>
    <select id="tagged_users" name="photo[user_id][]" multiple="multiple">
      <option></option>
    <% User.all.each do |user| %>
      <option value="<%= user.id %>"
      <% if !@photo.id.nil? && !@tagged_users.nil? %>
        <% @tagged_users.each do |tagged_user| %>
          <% if tagged_user.id == user.id %>
            selected
          <% end %>
        <% end %>
      <% end %>
      ><%= user.email %></option>
    <% end %>
    </select>
    <br><br>
  </div>
  <br><br><%= f.submit "Upload and Tag Photo", :class => "btn btn-primary pull_left" %>
<% end %>
