<% content_for(:title, "Edit Photo | Share Your Photos!") %>
<div class='container'>
  <h3><u>Edit a Photo</u></h3>
    <div class="col-md-12 row">
      <%= image_tag @photo.the_photo.url(:original), :class => "center-block" %>
    </div>
    <%= render('form') %><br>
    <p><%= link_to "Delete Photo", photo_path(@photo),
                         :data => {:confirm => "Please confirm the deletion of this photo",
                                   :method => "delete"},
                         :class => "btn btn-danger" %></p>
  <br><br>

  <div class="col-md-4">
    <hr>
    <h4><%= link_to "Add a New Photo", new_photo_path %></h4>
    <h4><%= link_to "See All Photos", photos_path %></h4>
    <h4><%= link_to "See Your Profile", user_path(current_user.id) %></h4>
    <h4><%= link_to "Logout", session_path("current"), :method => "delete" %></h4>
  </div>
</div>
