<% content_for(:title, "Show Photo | Share Your Photos!") %>
<h3><u>Show a Photo</u></h3>
<div class="col-md-9 row">
  <%= image_tag @photo.the_photo.url(:original), :class => "center-block" %>
</div>
<div class="col-md-4 row">
  <br><br>
  <%= form_for @photo do |f| %>
    <div class="form_group">
      <label for="tagged_users">Registered users tagged in the photo:</label>
      <select id="tagged_users" name="photo[user_id][]" multiple="multiple" disabled>
        <option></option>
        <% User.all.each do |user| %>
          <option value="<%= user.id %>"
          <% if !@photo.id.nil? && !@tagged_users.nil? %>
            <% @tagged_users.each do |tagged_user| %>
              <% if tagged_user.id == user.id %>
                selected
              <% end %>
            <% end %>
          <% end %>
          ><%= user.email %></option>
        <% end %>
      </select>
      <br><br>
    </div>
  <% end %>
</div>
<br><br>
<div class="col-md-9 row">
  <hr>
  <h4><%= link_to "Add a New Photo", new_photo_path %></h4>
  <h4><%= link_to "See All Photos", photos_path %></h4>
  <h4><%= link_to "See Your Profile", user_path(current_user.id) %></h4>
  <h4><%= link_to "Logout", session_path("current"), :method => "delete" %></h4>
</div>
